
/* DSEG7 Classic */

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('../font/D7C/BoldItalic.woff2') format('woff2'),
  url('../font/D7C/BoldItalic.woff') format('woff'),
  url('../font/D7C/BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('../font/D7C/Italic.woff2') format('woff2'),
  url('../font/D7C/Italic.woff') format('woff'),
  url('../font/D7C/Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('../font/D7C/LightItalic.woff2') format('woff2'),
  url('../font/D7C/LightItalic.woff') format('woff'),
  url('../font/D7C/LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic';
  src: url('../font/D7C/Regular.woff2') format('woff2'),
  url('../font/D7C/Regular.woff') format('woff'),
  url('../font/D7C/Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* DSEG7 Classic MINI */

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('../font/D7CM/BoldItalic.woff2') format('woff2'),
  url('../font/D7CM/BoldItalic.woff') format('woff'),
  url('../font/D7CM/BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('../font/D7CM/Italic.woff2') format('woff2'),
  url('../font/D7CM/Italic.woff') format('woff'),
  url('../font/D7CM/Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Classic-MINI';
  src: url('../font/D7CM/LightItalic.woff2') format('woff2'),
  url('../font/D7CM/LightItalic.woff') format('woff'),
  url('../font/D7CM/LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}


/* DSEG7 Modern */

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('../font/D7M/BoldItalic.woff2') format('woff2'),
  url('../font/D7M/BoldItalic.woff') format('woff'),
  url('../font/D7M/BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('../font/D7M/Italic.woff2') format('woff2'),
  url('../font/D7M/Italic.woff') format('woff'),
  url('../font/D7M/Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG7-Modern';
  src: url('../font/D7M/LightItalic.woff2') format('woff2'),
  url('../font/D7M/LightItalic.woff') format('woff'),
  url('../font/D7M/LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* DSEG14 Classic */

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('../font/D14C/BoldItalic.woff2') format('woff2'),
  url('../font/D14C/BoldItalic.woff') format('woff'),
  url('../font/D14C/BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('../font/D14C/Italic.woff2') format('woff2'),
  url('../font/D14C/Italic.woff') format('woff'),
  url('../font/D14C/Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic';
  src: url('../font/D14C/LightItalic.woff2') format('woff2'),
  url('../font/D14C/LightItalic.woff') format('woff'),
  url('../font/D14C/LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

/* DSEG14 Classic MINI */

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('../font/D14CM/BoldItalic.woff2') format('woff2'),
  url('../font/D14CM/BoldItalic.woff') format('woff'),
  url('../font/D14CM/BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('../font/D14CM/Italic.woff2') format('woff2'),
  url('../font/D14CM/Italic.woff') format('woff'),
  url('../font/D14CM/Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DSEG14-Classic-MINI';
  src: url('../font/D14CM/LightItalic.woff2') format('woff2'),
  url('../font/D14CM/LightItalic.woff') format('woff'),
  url('../font/D14CM/LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
